<link href="style.css" rel="stylesheet" type="text/css">
<body class="bg">
<div class="top">
    <h1>Library</h1>
</div>  
<a href="/">Home</a>
<br><br><br>
<form action="/Books/create" method="post">
    <input type="text" placeholder="Book" name="name" required> <br>
    <input type="text" placeholder="Author" name="author" required> <br><br>
    <input type="submit" value="Register">
</form>

<div class="margin"></div>  


</body>