.bg {
    
    background-color: #99f5e1af;
}

.margin {    
    height: 1em;
}

.update {
    width: 10%;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
}

table {
    font-family: arial, sans-serif;
    font-size: 24px;
    width: 80%;
    padding: 20px;
    table-layout: fixed;
}

.name-column {
    width: 40%;
    text-align: center;
    background-color: rgba(18, 97, 2);
    padding: 6px 20px;
    color: rgb(255, 230, 250) ;
}
.name-column2 {
    width: 40%;
}

.btnborder {
    border-style: none;
    width: 10%;
}
  
td {
    width: 15%;
    border: 1px solid #dddddd;
    text-align: left;
    padding-left: 16px;
    color: rgb(60, 0, 50);
}

form {
    margin-bottom: 0;
}
  
tr:nth-child(odd) {
    background-color: rgb(200, 252, 239);
    color: rgb(60, 0, 50);
}

input[type=submit] {
    text-align: center;
    width: 100%;
    background-color: rgb(18, 97, 2);
    padding: 12px 40px;
    color: rgb(255, 230, 250);
    border: none;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
}

a {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 2px;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

input[type=text] {
    background-color: rgb(255, 230, 250);
    width: 80%;
    padding: 12px 12px;
    margin: 1px;
    border: 1px solid #ccc;
    font-size: 24px;
    border-radius: 12px;
    box-align: center;
  }

